body{
  background-image: url(./assets/back.light.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /*background: color image repeat position/size
isso é um atalho ou shorthand
*/


}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid rebeccapurple;
  margin: 56px auto 0px;  
}