* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./assets/back.light.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /*background: color image repeat position/size
isso é um atalho ou shorthand
*/


}

#container {
  width: 360px;
  margin: 56px auto 0px;  
}

#profile {
text-align: center;
}

#profile img {
  width: 112px;
  margin: 56px auto 0px;
}

#write {
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  margin-top: 0px;

}

#write1 {
  text-align: center;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

#write2 {
  text-align: center;
  font-weight: 100px;
  font-size: 30px;
  margin-top: 56px;
}

#link {
 border: 2px solid gray;
 color: brown;
}

ul {
  list-style: none;
}

ul li {
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
}